.about{
    background-color: #233554;
}
.greenLine{
    width: 0vw;
    margin-left: 25%;
    border-top: 2px #64ffda solid;
    animation: greenLine 1s infinite;
}
@keyframes greenLine {
    0%{width: 0vw;}
    100%{width: 50vw;}
}
.containerHead{
    padding-top: 10px;
    width: 100%;
    text-align: center;
}
.aboutTxt{
    color: #ccd6f6;
}
.containerBody{
    padding-top: 10px;
    width: 100%;
    text-align: left;
}
.aboutBodyTxt{
    color: #ccd6f6;
}
.spanbold{
    font-weight: bold;
}
.containerBody{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.centerImg{
    display: flex;
    justify-content: center;
}
.myImage{
    position: relative;
    display: block;
    width: 25vw;
    height: 25vw;
    
    border: solid 2px #64ffda;
    border-radius: 15px;
    overflow: hidden;
    transition: 1s;
    cursor: pointer;
}
.myImage:hover{
    position: relative;
    display: block;
    width: 25vw;
    height: 25vw;
    transition: 1s;
    border: solid 2px #64ffda;
    border-radius: 50%;
    overflow: hidden;
}
.aboutme{
    width: 65%;
}
.technology{
    width: 100%;
    margin-top: 10px;
}
.technologyHead{
    text-align: center;
    color: #ccd6f6;
}
.technologyBody{
    color: #ccd6f6;
    width: 100%;
    
}

.avatarCircle{
    background-color: #64ffda;
    color: #233554;
}

@media screen and (min-width: 400px) {
    .technologyBody{
        color: #ccd6f6;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .listDiv{
        width: 48%;
    }
}

@media screen and (max-width: 700px) {
    .containerBody{
        display: flex;
        flex-direction: column;
    }
    .centerImg{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .myImage{
        width: 50vw;
        height: 50vw;
    }
    .aboutme{
        width: 100%;
    }
}


