.footer{
    background-color: #233554;
    padding-top: 30px;
    padding-bottom: 30px;
}
.buycoffee{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
}
.buycoffeebtn{
    color: #64ffda;
    border-color: #64ffdbaf;
}
.buycoffeebtn:hover{
    border-color: #64ffda;
}

.footerTxtDiv{
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #a8b2d1;
    
}
.love{
    color: red;
}
.alignCenter{
    text-align: center;
}
.footerIcons{
    width: 90%;
    margin-left: 5%;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    justify-content: center;
    color: #64ffda;
    
}