.template{
    position: relative;
    background-color: white;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.container{
        display: flex;
        height: 100vh;
}
.greenContainer{
    
    padding-top: 10px;
    background-color: #64ffda;
    min-width: 50%;
    height: 100%;
}
.menuIcon{
    display: none;
    cursor: pointer;
}
.noMenuIcon{
    display: none;
    cursor: pointer;
}
.menuX{
    display: none;
    cursor: pointer;
}
.noMenuX{
    display: none;
    cursor: pointer;
}
.whiteContainer{
    padding-top: 10px;
    min-width: 50%;
    display: flex;
    justify-content: flex-end;
}
.navbarBox{
    height: 50px;
}
.navbarButton{
    color: #0A192F
}
/* .hello{
    position: absolute;
    width: 50%;
    height: 50vh;
    top: 25vh;
    left: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
} */
.greenDot{
    color: #64ffda;
}
.scrollDown{
    /* background-color: red; */
    width:20vh;
    height: 10%;
    margin-top: 70vh;
    margin-left: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transform: rotate(270deg);
    animation: scrollDown 1s ease-in-out;
    animation-iteration-count: infinite;
}

.menuTab{
    display: none;
}
.noMenuTab{
    display: none;
}


.alignRight{
    text-align: right;
}



@media screen and (min-width: 1015px) {
    .scrollDown{
        margin-left: 90%;
    }
}
@media screen and (max-width: 700px) {
    .scrollDown{
        margin-left: 80%;
    }
    .navbarButton{
        display: none;
    }

    .menuIcon{
        display: block;
        position: relative;
        z-index: 12;
        cursor: pointer;
    }
    .noMenuIcon{
        display: none;
        position: relative;
        z-index: 12;
        cursor: pointer;
    }
    .menuX{
        display: block;
        position: relative;
        z-index: 12;
        cursor: pointer;
    }
    .noMenuX{
        display: none;
        position: relative;
        z-index: 12;
        cursor: pointer;
    }
    .menuTab{
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        background-color: white;
        height: 100vh;
        width: 70%;
        position: absolute;
        top: 0;
        left: 30%;
        z-index: 11;
        padding-top: 60px;
    }
    .noMenuTab{
        display: none;
        align-items: flex-end;
        flex-direction: column;
        background-color: white;
        height: 100vh;
        width: 70%;
        position: absolute;
        top: 0;
        left: 30%;
        z-index: 11;
        padding-top: 60px;
    }

}



@media screen and (max-width:600px) {
    .scrollDown{
        margin-left: 70%;
    }

}


@media screen and (max-width:415px) {
    .scrollDown{
        margin-top: 60vh;
        margin-left: 50%;
    }

}
@media screen and (max-width:325px) {
    .scrollDown{
        /* background-color: red; */
        width:20vh;
        height: 10%;
        margin-top: 60vh;
        margin-left: 45%;
       

    }

}




/* .container:hover > .greenContainer{
    min-width: 100%;
    transition: 1s;
}
.container:hover ~ .scrollDown{
    opacity: 0;
    transition: 1s;

}

.container:hover ~ .hello{
    left: 75%;
    transition: 1s;
} */


/* animation for blinking scroll down */
@keyframes scrollDown {
    0%{opacity: 0;}
    100%{opacity: 1;}
    
}